---
// Import components
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Products from '../components/Products.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="KRZ DIGISHOP - Premium Digital Solutions">
	<main>
		<Hero />
		<Features />
		<Products />
		<About />
		<Testimonials />
		<Footer />
	</main>
</Layout>
